<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name = "Users API testing">
    <test name = "Основной тест">
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="userCreation" />-->
<!--            </run>-->
<!--        </groups>-->
<!--        <packages>-->
<!--            <package name="ru.vsk" />-->
<!--        </packages>-->
        <classes>
            <class name = "ru.vsk.TestingUsers" />
        </classes>
    </test>
</suite>